
.icon-trash:before { content: '\e800'; } /* '' */
.icon-grooveshark:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-map:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-resize-horizontal-1:before { content: '\e806'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */