body{
    background-color: #303030;
    color: #ffffff;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;
    margin: 20px;
}

.back
{
    margin: 10px;
    width: 210px;
    height: 100px;
    float: right;
    font-size: 40px;
}

.description
{
    background-color: #006F0D;
    width: 960px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

#logo
{
    float: left;
    width: 600px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.square
{
    width: 100%;
    min-height: 430px;
}

.expedition
{
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color: #ee5a32;
    float: left;
    text-align: center;
}
.expedition:hover
{
    background-color: #dd4921;
}

.component
{
    margin: 10px;
    width: 220px;
    height: 122px;
    float: left;
    text-align: center;
}

.tilelink
{
    color: #ffffff;
    text-decoration: none;
}