body{
    background-color: #303030;
    color: #ffffff;
}


#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;
    margin: 20px;
}

.square
{
    width: 50%;
    float: left;
}

#logo
{
    float: left;
    width: 600px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info
{
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color: #006400;
    float: left;
    text-align: center;
}

.addexpedition
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}
.addexpedition:hover
{
    background-color: #2085c2;
}

.showall
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #ffc732;
    float: left;
    text-align: center;
}
.showall:hover{
    background-color: #eeb621;
}


.tile1
{
    font-size: 30px;
    margin: 10px;
    width: 480px;
    height: 142px;
    float: left;
    text-align: center;

}


.date
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #ee5a32;
    float: left;
    text-align: center;
}
.date:hover{
    background-color: #dd4921;
}


.tilelink
{
    color: #ffffff;
    text-decoration: none;
}



