body{
    background-color: #303030;
    color: #ffffff;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;
    margin: 20px;
}

.square
{
    width: 50%;
    float: left;
}

#logo
{
    float: left;
    width: 600px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info
{
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color: #006400;
    float: left;
    text-align: center;
}

















.container
{
    background-color: black;
    width: 300px;
    padding: 40px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    text-align: center;
}

a:link    { color: #36b03c; text-decoration: none; }
a:visited { color: #36b03c; }
a:active  { color: #36b03c; }
a:hover   { color: #37b93d; text-decoration: underline; }

h1
{
    font-family: 'Lobster', cursive;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 20px;
}

th, td
{
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}